@*Model*@
@model IEnumerable<ExportStore>

@{
    ViewData["Title"] = "Export Store";
}

@*View*@
<div class="row">
    <div class="col-md-8">
        <h2>Phiếu xuất kho</h2>
    </div>
    <div class="col-md-4 text-end">
        <a class="btn btn-success" asp-controller="ExportStore" asp-action="Create">
            <i class="bi bi-plus-circle"></i> Thêm mới
        </a>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Id)</th>
                    <th>@Html.DisplayNameFor(m => m.ExporterName)</th>
                    <th>@Html.DisplayNameFor(m => m.Customer)</th>
                    <th>@Html.DisplayNameFor(m => m.ExportDate)</th>
                    <th>@Html.DisplayNameFor(m => m.CreatedDate)</th>
                    <th>@Html.DisplayNameFor(m => m.Total)</th>
                    <th class="text-end">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.ExporterName)
                        </td>
                         <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Customer)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.ExportDate, "{dd/MM/yyyy}")
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.CreatedDate, "{dd/MM/yyyy}")
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td class="align-middle text-end">
                            <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i> Chi tiết</a>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i> Sửa</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i> Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>