@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<ImportStore>
@{
    ViewData["Title"] = "Import Store";
    var dummy = Model.FirstOrDefault();
}

<div class="row">
    <div class="col-md-8">
        <h2>Phiếu nhập kho</h2>
    </div>
    <div class="col-md-4 text-end">
        <a class="btn" asp-action="Index">
            <i class="bi bi-arrow-clockwise"></i>
        </a>
    </div>
    <div class="col-md-4 mb-3">
        <form asp-action="Index" method="get">
            <div class="input-group">
                <input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Tìm kiếm" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8 text-end">
        <a class="btn btn-success" asp-action="Create">
            <i class="bi bi-plus-circle"></i> Thêm mới
        </a>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => dummy.Id)</th>
                    <th>@Html.DisplayNameFor(m => dummy.ImporterName)</th>
                    <th>@Html.DisplayNameFor(m => dummy.Supplier)</th>
                    <th>@Html.DisplayNameFor(m => dummy.ImportDate)</th>
                    <th>@Html.DisplayNameFor(m => dummy.CreatedDate)</th>
                    <th>@Html.DisplayNameFor(m => dummy.Total)</th>
                    <th class="text-end">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.ImporterName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Supplier)
                        </td> 
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.ImportDate, "{dd/MM/yyyy}")
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.CreatedDate, "{dd/MM/yyyy}")
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td class="align-middle text-end">
                            <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i></a>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @Html.PagedListPager(Model, page => Url.Action("index", new { page = page }), new PagedListRenderOptions()
        {
        ActiveLiElementClass = "active",
        PageClasses = new[]{ "page-link"},
        LiElementClasses=new[] { "page-item" },
        UlElementClasses = new[] { "pagination", "mt-3" },
        LinkToNextPageFormat = ">",
        LinkToPreviousPageFormat = "<",
        MaximumPageNumbersToDisplay = 5,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always
        })
    </div>
</div>